
<div class="jumbotron">
    <h1 class="display-4">Welcome to TrackWind!</h1>
    <p class="lead">The best place on the internet for track and field statistics.</p>
    <hr class="my-4">
    <p>
      Bubble Graph: Rankings for each meet.<br>
      Performance Over Time: Overall performance over time, across meets.<br>
      Performance Over Time - Detail: Overall performance over time, across specific meets.<br><br>
    </p>
    <p>by Emily Mitchell, Eunice Umubyeyi, and Kenzie Richards</p>
  </div>
<app-infocards></app-infocards>