
<div class="jumbotron">
    <h1 class="display-4">Site Name</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <hr class="my-4">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        <button type="button" class="btn btn-secondary"><fa-icon [icon]="faSearch"></fa-icon>
        </button>

        
      </div>
  </div>
<app-infocards></app-infocards>