
.jumbotron {
    background-image: url("../../assets/main.jpg");
    background-size: cover;
    height: 70vh;
    border-radius: 0 !important;
    padding-bottom: 0;
    margin-bottom: 3vh;
  }

h1, p, a {
    color:ghostwhite;
    text-align: center;
}

.input-group{
    width:50% !important;
    margin: 0 auto;
}

