<div class="jumbotron bg-danger jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Us</h1>
      <p class="lead">We wanted to make it easier for coaches and athletes to connect. Our site makes it easy to view track and field statistics for recruiting or personal use.</p>
    </div>
  </div>

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Features</h2>
          <p class="lead">What makes us different from the rest.</p>
          <ul>
            <li>Interactive Tableau visuals</li>
            <li>Easy search</li>
            <li>Compare statistics</li>
            <li>Send to coaches, family, and friends</li>
          </ul>
        </div>
      </div>
    </div>
  </section>