<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/card1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Athletes</h5>
        <p class="card-text"></p>
      </div>
    </div>
    </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/card2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coaches</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/card3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Family & Friends</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
